.framer {
	width :250px;
	height :250px;
}

.framer>.circle {
	position:relative;
	top:50%; left:50%;
	transform:translateY(-50%) translateX(-50%);
}
.framer>.circle:hover {
	transform:translateY(-50%) translateX(-50%) scale(1.2, 1.2);
	transition: transform 1s;
}

.smaller{
	background-color:yellow;
	width:100px;
	height:100px;
	font-size:15px;
	border:2px solid black;
	box-sizing:content-box;
	font-family: arial;
}

.varySize {
	width:30ch;
	height:30ch;
	background-color:blue;
	box-shadow : 2px 2px;
}

.fixedSized {
	width:250px;
	height:250px;
	background-color:red;
	box-shadow : 2px 2px;
	border: 5px solid red;
	box-sizing:border-box;
}

 

